<div ng-controller="ProductSearchCtrl" xmlns="http://www.w3.org/1999/html">
    <div id="left-side-container" class="query-container">
        <div class="content-container" id="builder-content">
            <div class="query-information">
                <p><h1>Products API</h1><a href="https://developer.bestbuy.com/documentation/products-api">Learn more with our full documentation</a></p>
                <p>
                    <label for="category">Select a category:</label>
                    <select id="category" ng-model="category"
                            ng-options="opt as opt.label for opt in categories"></select>
                </p>
                <div id="complexSearch">
                    <form>
                        Attr:<input ng-model="complexAttr" type="text">
                        Operator:<select id="operator" ng-model="operatorOption"
                                ng-options="opt as opt.value for opt in operatorOptions"></select>
                        Value:<input type="text" ng-model="complexVal">
                    </form>
                </div>
                <h4>Specify what information to return:</h4>

                <div class="container showOptionsCheckbox">
                    <label ng-repeat="opt in showOptions">
                        <input type="checkbox" checklist-model="option.showOptions" checklist-value="opt.text">
                        {{opt.text}}
                    </label>
                </div>
                    <!-- <div>results {{ option.showOptions | json}}</div> -->
 
                 <h4>Pagination</h4>
                <div class="content-container">
                    <form name="pagesizeform">
                    <p>If left out of the query, results per page defaults to 10 and Remix will return the first page of results</p>
                    Results per page: <input id="pagination" ng-model="pagesize" type="number" min="1" max="100" required>
                    <span class="error" ng-show="pagesizeform.input.$error.number">Not valid number!</span>
                    Return page: <input id="whichPage" ng-model="whichPage" type="number" min="1" max="900" required>
                    </form>

                </div>
                <br>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <label>Sort by</label>
                        <input id="sort-by-none" type="radio" name="sortBy" ng-model="sortBy" value="none">(none)</input>
                        <br/>
                        <input id="sort-by-sku" type="radio" name="sortBy" ng-model="sortBy" value="sku">SKU</input>
                        <br/>
                        <input id="sort-by-saleprice" type="radio" name="sortBy" ng-model="sortBy" value="salePrice">Sale
                        Price</input>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        <label>Sort order</label>
                        <input id="sort-order-asc" type="radio" name="sortOrder" ng-model="sortOrder" ng-checked="true"
                               value="asc">Ascending</input>
                        <br/>
                        <input id="sort-order-desc" type="radio" name="sortOrder" ng-model="sortOrder" value="desc">Descending</input>
                    </p>
                </div>
            </div>
                <button class="query-button" ng-click="invokeRemixQuery()">RUN query</button>
            </div>
        </div>
    </div>
    <div id="right-side-container" class="query-container">
        <h4 class="container">URL Breakdown</h4>
        <div id="exampleUrl" class="content-container">
            <p>baseURL : https://api.remix.bestbuy.com/v1/products</p>
            <p>categoryId : (categoryPath.id=<span ng-bind="category.value"></span>)</p>
            <p>apiKey : ?apiKey=<span ng-bind="apiKey"></span><span ng-show="sortBy != 'none'"></p>
            <p>sortOptions : &sort=<span ng-bind="sortBy"></span>.<span ng-bind="sortOrder"></span>'</span></p>
            <p>showOptions : &show=<span ng-bind="option.showOptions.join(',')"></span></p>
            <p>responseFormat : &format=json</p>
        </div>
        <h4 class="container">Completed URL</h4>
        <div class="content-container" id="response-content">
            <p>#request:
                <button id="copy-button" class="copy-button" type="button" clip-copy="buildRemixQuery()">
                    <img src="assets/clipboard_white.png" width="20" height="20" alt="copy"/></button>
            </p>
            <h5><span id="remix-query" class="query-text" ng-bind="buildRemixQuery()"></span></h5>
            <div>
                <p>#response:</p>
                <textarea class="query-result" id="product-query-result">{{ remixResults | json }}</textarea>

            </div>
        </div>
    </div>
</div>
