<div ng-controller="ProductSearchCtrl" xmlns="http://www.w3.org/1999/html">
    <div id="left-side-container" class="query-container">
        <div class="content-container" id="builder-content">
            <div class="query-information">
                <h3>Products API</h3>
                <p>The <a href="https://developer.bestbuy.com/documentation/products-api" target="_blank">Products API</a> gives you access to the full Best Buy catalog. The query builder provides a subset of the product attributes to create sample requests and response documents.</p>
                <h4><span class="fa-stack fa-3x numberIcon">
                    <i class="fa fa-circle fa-stack-2x icon-stack-base"></i>
                    <strong class="char-overlay fa-stack-1x">1</strong>
                    </span> Search for Products</h4>

                <div class="content-container">  
                    <p for="category">You can search by one of our more popular <a href="https://developer.bestbuy.com/documentation/categories-api" target="_blank">categories</a>, an <a href="https://developer.bestbuy.com/documentation/products-api#documentation/products-api-detail" target="_blank">attribute</a> value, <a href="https://developer.bestbuy.com/documentation#advancedSearch-search" target="_blank">keyword</a> or any combination of these:</p>

                    <select class="attributeInputs" id="category" ng-model="category"
                                ng-options="opt as opt.label for opt in categories"></select>

                    <div class="attributeInputs">
                        <input spaceless type="text" id="keywordSearchInput" class="rounded" placeholder="Enter Keyword(s)" ng-model="keywordSearch"></input>
                    </div>

                    <div class="form-group" ng-repeat="form in dynamicForms track by $index">

                        <div class="" id="complexSearch">
                            <form>
                                <select ng-init="form.value = attributeOption" id="attribute" ng-model="form.value" ng-change="preselectOperator(form)"
                                        ng-options="attr as attr.text for attr in attributeOptions"></select>

                                <select class="optDropdown" ng-show="form.value.productAttribute" id="operator" ng-model="form.opt" ng-change="skuInParens()"
                                        ng-options="opt as opt.value for opt in form.value.operator" selected="{{dynamicOption.list[form.id].operator[0].value}}"></select>

                                <input class="rounded" parenswrap ng-show="form.value.productAttribute && (form.value.type != 'boolean')" ng-model="form.complexVal" min="0" ng-maxlength="50" placeholder="{{form.value.placeholder}}">
                                
                                <select ng-show="form.value.type === 'boolean'"  ng-model="form.complexVal" ng-options="opt.value as opt.value for opt in form.value.valueOptions"></select>
                                
                                <span class="glyphicon glyphicon-minus" ng-show="dynamicForms.length > 1" ng-click="removeForm(form)"></span>

                            </form>
                            <span id="plus-button" class="glyphicon glyphicon-plus" ng-show="$last && (form.value.productAttribute)" ng-click="addNewForm()"></span>
                        </div>
                    </div>
                </div> 
                <div>
                    <h4><span class="fa-stack fa-3x numberIcon">
                        <i class="fa fa-circle fa-stack-2x icon-stack-base"></i>
                        <strong class="char-overlay fa-stack-1x">2</strong>
                        </span> Build Your Response
                    </h4>
                </div>
                <div class="content-container">
                    <p>
                        <span class="subtitle">Product Attributes </span><span>(optional)</span>
                        <button class="btn btn-default btn-xs" ng-click="selectAll('allproducts')">Select All</button> <button class="btn btn-default btn-xs" ng-click="selectAll('noproducts')">Select None</button>
                    </p>
                    <div class="multiSelectBox">
                        <ui-select ng-change="clearBlankSelect()" multiple ng-model="showOption.list" theme="select2" ng-disabled="disabled">
                            <ui-select-match placeholder="Select response options">{{$item.text}}</ui-select-match>
                            <ui-select-choices repeat="option as option in showOptions | propsFilter: {text: $select.search}">
                              <div ng-bind-html="option.text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                <div id="facetsForm">
                    <form id="facetInput" name="facetInput" class="form-inline">
                        <div class="form-group">
                            <label class=""><a href="https://developer.bestbuy.com/documentation#facets-facets" target="_blank">Facets:</a></label>
                            <div class="">
                                <select id="facetAttribute" ng-model="facetAttribute" ng-change="resetFacetNumber()"ng-options="attr as attr.text for attr in attributeOptions"></select>
                                <span>Number:</span> <input id="facetNumberInput" class="rounded" type="number" placeholder="0" ng-model="facetNumber" min="1" max="50">
                                <i class="fa fa-question-circle" tooltip="Faceting provides an aggregated count of the specified attributes as returned in the results. It will include the number of the aggregated results as specified by number field." tooltip-placement="top"></i>
                            </div>
                        </div>

                        <div class="form-group" ng-show="showOption.list.length > 0">
                            <label class="control-label"><a href="https://developer.bestbuy.com/documentation#sort-sort" target="_blank">Sort By:</a></label>
                            <div class="">
                                <select ng-init="sortOptions.list[0]" selected="Choose Sort Option" ng-model="sortBy" ng-options="opt as opt.text for opt in sortOptions.list"></select></span>
                                <span>Sort Order:
                                <select ng-model="sortOrder" ng-options="opt as opt.text for opt in sortOrderOptions"></select>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
             <h4><span class="fa-stack fa-3x numberIcon">
                    <i class="fa fa-circle fa-stack-2x icon-stack-base"></i>
                    <strong class="char-overlay fa-stack-1x">3</strong>
                    </span> Pagination</h4>
            <div class="content-container">
                <form name="pageSizeform">
                <p>Specify additional results per page or return subsequent pages by updating the Results Per Page and Page values:</p>
                Results Per Page: <input class="rounded" id="pagination" ng-model="pageSize" type="number" style="width:60px;" required>
                <span class="error" ng-show="pageSizeform.input.$error.number">Not valid number!</span>
                Page: <input class="rounded" id="whichPage" ng-model="whichPage" type="number" min="1" max="900" required>
                </form>
            </div>
            <br/>
                <button class="query-button" ng-click="resetParams()">RESET Query</button>
                <button class="query-button" ng-click="invokeRemixQuery()">RUN Query</button>
        </div>
        </div>
    </div>
    <div id="right-side-container" class="query-container">
        <h4 class="container urlBreakdown">URL Breakdown</h4>
        <div class="content-container"><label>Here is an anatomy of your request, showing all of the "pieces" that make up your complete URL:</label>
            <div id="exampleUrl" class="content-container">
                <p><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation#advancedSearch-search" target="_blank">baseURL</a> : https://api.bestbuy.com/v1/products</p>

                <p ng-show="category.value"><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation/products-api#documentation/products-api-categorizations" target="_blank">categoryId</a> : (categoryPath.id=<span ng-bind="category.value"></span>)</p>

                <p ng-show="dynamicForms[0].value.productAttribute"><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation/products-api#documentation/products-api-detail" target="_blank">attribute</a> : (<span ng-bind="parseDynamicForms(dynamicForms)"></span><span ng-show="operator.value === ' in ' ">(</span><span ng-bind="complexVal"></span><span ng-show="operator.value === ' in ' ">)</span>)</p>

                <p ng-show="keywordSearch"><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation#advancedSearch-search" target="_blank">keyword</a> : (search=<span ng-bind="keywordSearch"></span>)</p>

                <p><a class="breakdownLabel" href="https://remix.mashery.com/member/register" target="_blank">apiKey</a> : ?apiKey=<span ng-bind="apiKey"></span><span ng-show="sortBy != 'none'"></p>

                <p><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation#sort-sort" target="_blank">sortOptions</a> : &sort=<span ng-bind="sortBy.value"></span>.<span ng-bind="sortOrder.value"></span></span></p>


                <p ng-show="showOption.list"><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation#show-show" target="_blank">showOptions</a> : &show=<span ng-bind="addAllShowOptions(showOption.list)"></span></p>


                <p ng-show="(pageSize !== 10) || (whichPage !== 1)"><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation#pagination-pagination" target="_blank">pagination</a> : <span ng-show="(pageSize !== 10)">pageSize=<span ng-bind="pageSize"></span></span><span ng-show="(whichPage !== 1)">&page=<span ng-bind="whichPage"></span></span></p>

                <p ng-show="facetAttribute.productAttribute"><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation#facets-facets" target="_blank">facets</a> : &facet=<span ng-bind="facetAttribute.productAttribute"></span><span ng-show="facetNumber">,<span ng-bind="facetNumber"></span></span></p>

                <p><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation#responseFormat-response-format" target="_blank">callback</a> : &callback=JSON_CALLBACK</span></p>

                <p><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation#responseFormat-response-format" target="_blank">responseFormat</a> : &format=json</p>
            </div>
        </div>
        <h4 class="container">Complete URL</h4>
        <div class="content-container" id="response-content">
            <p>#request:
                <button id="copy-button" class="copy-button" type="button" clip-copy="buildRemixQuery()" tooltip="copy" tooltip-placement="right" ng-click="callCopyEvent()">
                    <img src="assets/clipboard_white.png" width="20" height="20" alt="copy"/></button>
            </p>
            <h5><span id="remix-query" class="query-text" ng-bind="buildRemixQuery()"></span></h5>
            <div>
                <p>#response:
                    <button id="copy-results-button" class="copy-button" type="button" clip-copy="remixResults | json" tooltip="copy" tooltip-placement="right">
                    <img src="assets/clipboard_white.png" width="20" height="20" alt="copy"/></button>
                </p>
                <textarea ng-class="{errorResult: errorResult}" class="query-result" id="product-query-result" ng-bind="remixResults | json"></textarea>

            </div>
        </div>
    </div>
</div>