<div ng-controller="storesCtrl" xmlns="http://www.w3.org/1999/html">
    <div id="left-side-container" class="query-container">
        <div class="content-container" id="builder-content">
            <div class="query-information">
                <h3>Stores API</h3>
                <p>The Best Buy Stores API provides stores information for all Best Buy stores in the United States and Puerto Rico. This information includes address, location, hours, and services offered.</p>
                <h4><span class="fa-stack fa-3x numberIcon">
                    <i class="fa fa-circle fa-stack-2x icon-stack-base"></i>
                    <strong class="char-overlay fa-stack-1x">1</strong>
                    </span> Search for Stores</h4>
                <div class="content-container">  
                    <select ng-model="searchSelection" ng-options="opt as opt.text for opt in options"></select>
                        <div ng-show="searchSelection.value ==='city'">
                            <p>Searching by City returns stores information for all the stores in the city specified.</p>
                            <input type="text" class="rounded" placeholder="Bloomington, MN"></input>
                        </div>
                        <div ng-show="searchSelection.value ==='postalCode'">
                            <p>Searching by Postal Code returns store information for all the stores in the postal code specified.</p>
                            <input type="number" class="rounded" placeholder="55423"></input>
                            Area (miles): <input type="number" class="rounded" placeholder="71.3"></input>
                        </div>
                        <div ng-show="searchSelection.value ==='latLong'">
                            <p>Search by Lat/Long returns all stores</p>
                            <p><form>Latitude <input type="number" class="rounded" placeholder="71.3"></input>
                                <input type="radio" ng-model="latCompassDirection" value="north"> North 
                                <input type="radio" ng-model="latCompassDirection" value="south"> South</form></p>
                            <p>Longitude <input type="number" class="rounded" placeholder="71.3">
                                <input type="radio" ng-model="longCompassDirection" value="east"> East 
                                <input type="radio" ng-model="longCompassDirection" value="west"> West</input></p>
                            <p>Area (miles): <input type="number" class="rounded" placeholder="71.3"></input>(optional)</p>
                          
                        </div>
                        <div ng-show="searchSelection.value ==='storeId'">
                            <input type="number" class="rounded" placeholder="281"></input>
                        </div>
                        <div ng-show="searchSelection.value ==='region'">
                            <select ng-model="regionOption" ng-options="opt as opt.text for opt in regionOptions"></select>
                        <p for="category">Select attributes and criteria for response:</p>
                        </div>
                    </div>

                <h4><span class="fa-stack fa-3x numberIcon">
                    <i class="fa fa-circle fa-stack-2x icon-stack-base"></i>
                    <strong class="char-overlay fa-stack-1x">2</strong>
                    </span>Build Your Response</h4>
                <div class="content-container">
                    <p>
                        <span class="subtitle">Store Services</span>
                        <button class="btn btn-default btn-xs" ng-click="selectAll('services')">Select All</button> <button class="btn btn-default btn-xs" ng-click="selectAll('noservices')">Unselect All</button>
                    </p>
                    <ui-select multiple ng-model="servicesOption.list" theme="select2" ng-disabled="disabled">
                        <ui-select-match placeholder="Select store services">{{$item.text}}</ui-select-match>
                        <ui-select-choices repeat="option.value as option in servicesOptions | propsFilter: {text: $select.search}">
                          <div ng-bind-html="option.text | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <br/>
                    <p>
                        <span class="subtitle">Store Type</span>
                            <button class="btn btn-default btn-xs" ng-click="selectAll('types')">Select All</button> <button class="btn btn-default btn-xs" ng-click="selectAll('notypes')">Unselect All</button>
                    </p>
                    
                    <ui-select multiple ng-model="storeType.list" theme="select2" ng-disabled="disabled" style="width:60%;">
                        <ui-select-match placeholder="Select store services">{{$item.text}}</ui-select-match>
                        <ui-select-choices repeat="option.value as option in storeTypes | propsFilter: {text: $select.search}">
                          <div ng-bind-html="option.text | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
             <h4><span class="fa-stack fa-3x numberIcon">
                    <i class="fa fa-circle fa-stack-2x icon-stack-base"></i>
                    <strong class="char-overlay fa-stack-1x">3</strong>
                    </span> Pagination</h4>
            <div class="content-container">
                <form name="pageSizeform">
                <p>Specify additional results per page or return subsequent pages by updating the Results Per Page and Page values:</p>
                Results Per Page: <input class="rounded" id="pagination" ng-model="pageSize" type="number" min="1" max="100" required>
                <span class="error" ng-show="pageSizeform.input.$error.number">Not valid number!</span>
                Page: <input class="rounded" id="whichPage" ng-model="whichPage" type="number" min="1" max="900" required>
                </form>

            </div>
            <br/>
                <button class="query-button" ng-click="resetParams()">RESET Query</button>
                <button class="query-button" ng-click="invokeRemixQuery()">RUN Query</button>
            </div>
        </div>
    </div>
    <div id="right-side-container" class="query-container">
        <h4 class="container urlBreakdown">URL Breakdown</h4>
        <div class="content-container"><label>Here is an anatomy of your request, showing all of the "pieces" that make up your complete URL:</label>
            <div id="exampleUrl" class="content-container">
                <p><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation#advancedSearch-search">baseURL</a> : http://api.remix.bestbuy.com/v1/stores</p>


                <p><a class="breakdownLabel" href="https://remix.mashery.com/member/register">apiKey</a> : ?apiKey=<span ng-bind="apiKey"></span><span ng-show="sortBy != 'none'"></p>

                <p><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation#pagination-pagination">pagination</a> : pageSize=<span ng-bind="pageSize"></span>&page=<span ng-bind="whichPage"></span></p>

                <p><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation#responseFormat-response-format">callback</a> : &callback=JSON_CALLBACK</span></p>

            </div>
        </div>
        <h4 class="container">Complete URL</h4>
        <div class="content-container" id="response-content">
            <p>#request:
                <button id="copy-button" class="copy-button" type="button" clip-copy="buildRemixQuery()" tooltip="copy" tooltip-placement="right" ng-click="callCopyEvent()">
                    <img src="assets/clipboard_white.png" width="20" height="20" alt="copy"/></button>
            </p>
            <h5><span id="remix-query" class="query-text" ng-bind="buildRemixQuery()"></span></h5>
            <div>
                <p>#response:
                    <button id="copy-results-button" class="copy-button" type="button" clip-copy="results | json" tooltip="copy" tooltip-placement="right">
                    <img src="assets/clipboard_white.png" width="20" height="20" alt="copy"/></button>
                </p>
                <textarea ng-class="{errorResult: errorResult}" class="query-result" ng-bind="results | json"></textarea>

            </div>
        </div>
    </div>
</div>
