<div id="reviews-div" ng-controller="ReviewsCtrl">
    <div id="left-side-container" class="query-container">
        <div class="content-container" id="builder-content">
            <div class="query-information">
                <h3>Reviews API</h3>
                <div>
                    <p>The <a href="https://developer.bestbuy.com/documentation/reviews-api" target="_blank">Reviews API</a> provides access to individual reviews that have been submitted on <a href="http://www.bestbuy.com/" target="_blank">Bestbuy.com</a> for the products we sell. You can search for reviews based on ratings, SKU, review date, and review content. Query Builder will help create sample requests and response documents.</p>
                </div>
                <h4><span class="fa-stack fa-3x numberIcon">
                    <i class="fa fa-circle fa-stack-2x icon-stack-base"></i>
                    <strong class="char-overlay fa-stack-1x">1</strong>
                    </span> Search for Reviews </i>
                </h4>

                    <div class="form-group content-container" ng-repeat="form in dynamicForms track by $index">

                        <div class="" id="complexSearch">
                            <form>
                                <select ng-init="form.value = attributeOption" id="attribute" ng-model="form.value" ng-change="preselectOperator(form)"
                                        ng-options="attr as attr.text for attr in attributeOptions"></select>

                                <select class="optDropdown" ng-show="form.value.reviewAttribute" id="operator" ng-model="form.opt" ng-change="skuInParens()"
                                        ng-options="opt as opt.value for opt in form.value.operator" selected="{{dynamicOption.list[form.id].operator[0].value}}"></select>

                                <input class="rounded" parenswrap ng-show="form.value.reviewAttribute && (form.value.type != 'boolean')" ng-model="form.complexVal" min="0" ng-maxlength="50" placeholder="{{form.value.placeholder}}">
                                
                                <span class="glyphicon glyphicon-minus" ng-show="dynamicForms.length > 1" ng-click="removeForm(form)"></span>

                            </form>
                            <span id="plus-button" class="glyphicon glyphicon-plus" ng-show="$last && (form.value.reviewAttribute)" ng-click="addNewForm()"></span>
                        </div>
                    </div>



                <h4><span class="fa-stack fa-3x numberIcon">
                    <i class="fa fa-circle fa-stack-2x icon-stack-base"></i>
                    <strong class="char-overlay fa-stack-1x">2</strong>
                    </span> Build Your Response </i>
                </h4>
                <div class="content-container">
                    <p>
                        <span class="subtitle">Review Attributes </span><span>(optional)</span>
                        <button class="btn btn-default btn-xs" ng-click="selectAll('allreviews')">Select All</button> <button class="btn btn-default btn-xs" ng-click="selectAll('noreviews')">Select None</button>
                    </p>
                    <div class="multiSelectBox">
                        <ui-select ng-change="clearBlankSelect()" multiple ng-model="showOption.list" theme="select2" ng-disabled="disabled">
                            <ui-select-match placeholder="Select response options">{{$item.text}}</ui-select-match>
                            <ui-select-choices repeat="option as option in showOptions | propsFilter: {text: $select.search}">
                              <div ng-bind-html="option.text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="form-group" ng-show="showOption.list.length > 0">
                        <label class="control-label"><a href="https://developer.bestbuy.com/documentation#sort-sort" target="_blank">Sort By:</a></label>
                        <div class="">
                            <select ng-init="sortOptions.list[0]" selected="Choose Sort Option" ng-model="sortBy" ng-options="opt as opt.text for opt in sortOptions.list"></select></span>
                            <span>Sort Order:
                            <select ng-model="sortOrder" ng-options="opt as opt.text for opt in sortOrderOptions"></select>
                        </div>
                    </div>

                </div>


                <h4><span class="fa-stack fa-3x numberIcon">
                        <i class="fa fa-circle fa-stack-2x icon-stack-base"></i>
                        <strong class="char-overlay fa-stack-1x">3</strong>
                        </span> Pagination</h4>
                <div class="content-container">
                    <form name="pageSizeform">
                    <p>Specify additional results per page or return subsequent pages by updating the Results Per Page and Page values:</p>
                    Results Per Page: <input class="rounded" id="pagination" ng-model="pageSize" type="number" style="width:60px;" required>
                    <span class="error" ng-show="pageSizeform.input.$error.number">Not valid number!</span>
                    Page: <input class="rounded" id="whichPage" ng-model="whichPage" type="number" min="1" max="900" required>
                    </form>
                </div>

                <div id="button-container">
                    <button id="reset-query" class="query-button" ng-click="resetReviewsQuery()">RESET
                        query
                    </button>

                    <button id="invoke-query" class="query-button" ng-click="invokeReviewsQuery()">RUN
                        query
                    </button>
                </div>
                <br/>
            </div>
        </div>
    </div>
    <div id="right-side-container" class="query-container">
        <h4 class="container urlBreakdown">URL Breakdown</h4>
        <div class="content-container"><label>Here is an anatomy of your request, showing all of the "pieces" that make up your complete URL:</label>
            <div id="exampleUrl" class="content-container">
                    <p><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation#advancedSearch-search" target="_blank">baseURL</a> : https://api.bestbuy.com/v1/reviews/</p>
                    
                    <p ng-show="dynamicForms[0].value.reviewAttribute"><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation/reviews-api#documentation/reviews-api-attributes" target="_blank">attributes</a> : (<span ng-bind="parseDynamicForms(dynamicForms)"></span><span ng-show="operator.value === ' in ' ">(</span><span ng-bind="complexVal"></span><span ng-show="operator.value === ' in ' ">)</span>)</p>

                    <p ng-show="showOption.list"><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation#show-show" target="_blank">showOptions</a> : &show=<span ng-bind="addAllShowOptions(showOption.list)"></span></p>
                    
                    <p><a class="breakdownLabel" href="https://remix.mashery.com/member/register" target="_blank">apiKey</a> : ?apiKey=<span ng-bind="apiKey"></span><span ng-show="sortBy != 'none'"></p>
                    
                    <p ng-show="(pageSize !== 10) || (whichPage !== 1)"><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation#pagination-pagination" target="_blank">pagination</a> : <span ng-show="(pageSize !== 10)">pageSize=<span ng-bind="pageSize"></span></span><span ng-show="(whichPage !== 1)">&page=<span ng-bind="whichPage"></span></span></p>
                    
                    <p><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation#responseFormat-response-format" target="_blank">callback</a> : &callback=JSON_CALLBACK</span></p>

                    <p><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation#responseFormat-response-format" target="_blank">responseFormat</a> : &format=json</p>
                </div>
            </div>
        <h4 class="container">Complete URL</h4>
            <div class="content-container" id="response-content">
                <div>
                    <p>#request:
                        <button id="reviews-copy-button" class="copy-button" type="button" clip-copy="buildReviewsQuery()" tooltip="copy" tooltip-placement="right" ng-click="callCopyEvent()">
                            <img src="assets/clipboard_white.png" width="20" height="20" alt="copy"/>
                        </button>
                    </p>
                    <span class="query-text" id="reviews-query" ng-bind="buildReviewsQuery()"></span>
                </div>
                <div>
                    <p>#response:
                        <button id="copy-button" class="copy-button" type="button" clip-copy="results | json" tooltip="copy" tooltip-placement="right">
                    <img src="assets/clipboard_white.png" width="20" height="20" alt="copy"/></button></p>

                    <textarea ng-class="{errorResult: errorResult}" class="query-result" id="recommendations-query-result" ng-bind="results | json"></textarea>

                </div>
            </div>
    </div>
</div>