<div ng-controller="storesCtrl" xmlns="http://www.w3.org/1999/html">
    <div id="left-side-container" class="query-container">
        <div class="content-container" id="builder-content">
            <div class="query-information">
                <h3>Stores API</h3>
                <p>The Best Buy <a href="https://developer.bestbuy.com/documentation/stores-api" target="_blank">Stores API</a> provides stores information for all Best Buy stores in the United States and Puerto Rico. This information includes address, location, hours, and services offered.</p>
                <h4><span class="fa-stack fa-3x numberIcon">
                    <i class="fa fa-circle fa-stack-2x icon-stack-base"></i>
                    <strong class="char-overlay fa-stack-1x">1</strong>
                    </span> Search for Stores</h4>

                <div class="content-container storesSearchForm">  
                    <select ng-model="searchSelection" ng-options="opt as opt.text for opt in options" ng-change="resetInput()"></select>
                        
                        <div ng-show="searchSelection.value ==='city'">
                            <p>Searching by City returns stores information for all the stores in the city specified.</p>
                            <span class="subtitle">City:</span><input type="text" id="cityInput" class="rounded" ng-model="cityChoice" placeholder="Bloomington" required ng-minlength="0"></input>
                        </div>

                        <div ng-show="searchSelection.value ==='postalCode'">
                            <p>Searching Postal Code returns store information for all stores within the specified postal code. An optional distance function can be used to determine all stores given a postal code and distance from the center of that postal code.</p>
                            <span class="subtitle">Postal Code:</span><input style="width:80px;" ng-model="zipCode" type="number" class="rounded" placeholder="55423" required ></input>
                            <span class="subtitle">Distance</span> (miles): <input style="width:60px;" ng-model="area" type="number" class="rounded" placeholder="71.3"></input>
                        </div>

                        <div class="longLatForm" ng-show="searchSelection.value ==='latLong'">
                                <p>Searching by <a href="https://developer.bestbuy.com/documentation/stores-api#documentation/stores-api-area-function" target="_blank">latitude and longitude</a> returns all stores that are within the specified latitude and longitude. An optional distance function can be used to determine all stores given a latitude and longitude and distance from the center of that latitude and longitude.</p>
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <p class="col-sm-2"><span class="subtitle">Latitude</span></p>
                                    <div class="col-sm-10"> 
                                        <input ng-model="latitude" type="number" class="rounded longLatInput" placeholder="71.3" min="0"></input>
                                        <input type="radio" ng-model="latCompassDirection" value="north"> North 
                                        <input type="radio" ng-model="latCompassDirection" value="south"> South
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="col-sm-2"><span class="subtitle">Longitude</span></p>
                                    <div class="col-sm-10">
                                        <input ng-model="longitude" type="number" class="rounded longLatInput" placeholder="71.3">
                                        <input type="radio" ng-model="longCompassDirection" value="east"> East 
                                        <input type="radio" ng-model="longCompassDirection" value="west"> West</input>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="col-sm-2"><span class="subtitle">Distance</span> (miles):</p>
                                    <div class="col-sm-10"> 
                                        <input ng-model="latLongArea" type="number" class="rounded longLatInput" placeholder="25" min="0" max="999"></input>
                                    </div>
                                </div>
                            </form>
                        </div>                  

                        <div ng-show="searchSelection.value ==='storeId'">
                            <span class="subtitle">Store ID: </span><input type="number" class="rounded" placeholder="281" ng-model="storeId"></input>
                        </div>

                        <div ng-show="searchSelection.value ==='region'">
                           <span class="subtitle">Region/State:</span> <select ng-model="regionOption" ng-options="opt as opt.text for opt in regionOptions"></select>
                        </div>
                </div>

                <div class="content-container">
                    <p>
                        <span class="subtitle">Store Services </span><span>(optional)</span>
                        <button class="btn btn-default btn-xs" ng-click="selectAll('services')">Select All</button> <button class="btn btn-default btn-xs" ng-click="selectAll('noservices')">Select None</button>
                    </p>
                    <div class="multiSelectBox">
                        <ui-select multiple ng-model="servicesOption.list" theme="select2" ng-disabled="disabled">
                            <ui-select-match placeholder="Select store services">{{$item.text}}</ui-select-match>
                            <ui-select-choices repeat="option.value as option in servicesOptions | propsFilter: {text: $select.search}">
                              <div ng-bind-html="option.text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <p>
                        <span class="subtitle">Store Type</span><span> (optional)</span>
                            <button class="btn btn-default btn-xs" ng-click="selectAll('types')">Select All</button> <button class="btn btn-default btn-xs" ng-click="selectAll('notypes')">Select None</button>
                    </p>

                <div class="multiSelectBox">              
                    <ui-select multiple ng-model="storeType.list" theme="select2" ng-disabled="disabled">
                        <ui-select-match placeholder="Select store types">{{$item.text}}</ui-select-match>
                        <ui-select-choices repeat="option.value as option in storeTypes | propsFilter: {text: $select.search}">
                          <div ng-bind-html="option.text | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            </div>
            <h4><span class="fa-stack fa-3x numberIcon">
                    <i class="fa fa-circle fa-stack-2x icon-stack-base"></i>
                    <strong class="char-overlay fa-stack-1x">2</strong>
                    </span> Build Your Response</h4>
                    <div class="content-container">
                    <p>
                        <span class="subtitle">Store Attributes</span> (optional)
                        <button class="btn btn-default btn-xs" ng-click="selectAll('responseAttributes')">Select All</button> <button class="btn btn-default btn-xs" ng-click="selectAll('noResponse')">Select None</button>
                    </p>
                    </div>
                    <div class="multiSelectBox content-container">
                        <ui-select multiple ng-model="storeResponse.list" theme="select2" ng-disabled="disabled">
                            <ui-select-match placeholder="Select store attributes">{{$item.text}}</ui-select-match>
                            <ui-select-choices repeat="option.value as option in storeResponses | propsFilter: {text: $select.search}">
                              <div ng-bind-html="option.text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
          <h4><span class="fa-stack fa-3x numberIcon">
                <i class="fa fa-circle fa-stack-2x icon-stack-base"></i>
                <strong class="char-overlay fa-stack-1x">3</strong>
                </span> Product Availability Search (optional)</h4>
        <div class="content-container">
            <form name="pageSizeform">
            <p>Enter a comma separated <a href="https://developer.bestbuy.com/documentation/stores-api#documentation/stores-api-in-store-availability" target="_blank">list of SKUs</a> to determine if those products are available in any of the stores in Step 1.
            </p>
            List of SKUs <input ng-disabled="!searchSelection.value" class="rounded" id="pagination" ng-model="skuList" type="text" placeholder="6461052,5909042">
            </form>
            <span id="stores-join-info" ng-show="!searchSelection.value">Note: Product Availability Search is not compatible with a search for "all stores." To use this feature, please narrow your stores search in step 1.</span>
<!--             <p>
                <span class="subtitle">Product Attributes </span><span>(optional)</span>
                <button class="btn btn-default btn-xs" ng-click="selectAll('products')">Select All</button> <button class="btn btn-default btn-xs" ng-click="selectAll('noproducts')">Select None</button>
            </p>
            <div class="multiSelectBox">
                <ui-select multiple ng-model="productOption.list" theme="select2" ng-disabled="disabled">
                    <ui-select-match placeholder="Select product attributes">{{$item.text}}</ui-select-match>
                    <ui-select-choices repeat="option.value as option in productOptions | propsFilter: {text: $select.search}">
                      <div ng-bind-html="option.text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>   -->
        </div>  

             <h4><span class="fa-stack fa-3x numberIcon">
                    <i class="fa fa-circle fa-stack-2x icon-stack-base"></i>
                    <strong class="char-overlay fa-stack-1x">4</strong>
                    </span> Pagination</h4>
            <div class="content-container">
                <form name="pageSizeform">
                <p>Specify additional results per page or return subsequent pages by updating the Results Per Page and Page values:</p>
                Results Per Page: <input class="rounded" id="pagination" ng-model="pageSize" type="number" min="1" max="100" required>
                <span class="error" ng-show="pageSizeform.input.$error.number">Not valid number!</span>
                Page: <input class="rounded" id="whichPage" ng-model="whichPage" type="number" min="1" max="900" required>
                </form>
            </div>       
            <br/>
                <button class="query-button" ng-click="resetParams()">RESET Query</button>
                <button class="query-button" ng-click="invokeRemixQuery()">RUN Query</button>
            </div>
        </div>
    <div id="right-side-container" class="query-container">
        <h4 class="container urlBreakdown">URL Breakdown</h4>
        <div class="content-container"><label>Here is an anatomy of your request, showing all of the "pieces" that make up your complete URL:</label>
            <div id="exampleUrl" class="content-container">
                <p><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation#advancedSearch-search" target="_blank">baseURL</a> : http://api.bestbuy.com/v1/stores</p>

                <p ng-show="cityChoice"><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation/stores-api#documentation/stores-api-information" target="_blank">byCity</a> : (city=<span ng-bind="cityChoice"></span>)</p>

                <p ng-show="zipCode"><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation/stores-api#documentation/stores-api-area-function" target="_blank">areaFunction</a> : (area(<span ng-bind="zipCode"></span>,<span ng-bind="area"></span>))</p>

                <p ng-show="latitude && longitude && latLongArea"><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation/stores-api#documentation/stores-api-area-function" target="_blank">byLatLong</a> : (area(<span ng-show="latCompassDirection === 'south'">-</span><span ng-bind="latitude"></span>,<span ng-show="longCompassDirection === 'west'">-</span><span ng-bind="longitude"></span><span ng-show="latLongArea">,<span ng-bind="latLongArea"></span></span>))</p>

                <p ng-show="storeId"><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation/stores-api#csv_213-attribute-storeId" target="_blank">storeId</a> : (storeId=<span ng-bind="storeId"></span>)</p>

                <p ng-show="regionOption.value"><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation/stores-api#documentation/stores-api-information" target="_blank">region</a> : (region=<span ng-show="regionOption.value"><span ng-bind="regionOption.value"></span></span>)</p>

                <p ng-show="skuList !== ''"><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation/stores-api#documentation/stores-api-in-store-availability" target="_blank">inStoreAvailability</a> : +products(sku%20in%20(<span ng-show="skuList"><span ng-bind="skuList"></span></span>)</p>

                <p ng-show="servicesOption.list.length > 0"><a href="https://developer.bestbuy.com/documentation/stores-api#documentation/stores-api-services-offered" class="breakdownLabel" target="_blank">storeServices</a> : <span ng-bind="filterStoreService(servicesOption.list)"></span></p>

                <p ng-show="storeType.list.length > 0"><a href="https://developer.bestbuy.com/documentation/stores-api#csv_213-attribute-storeType" class="breakdownLabel" target="_blank">storeTypes</a> : <span ng-bind="filterStoreType(storeType.list)"></span></p>

                <p ng-show="storeResponse.list.length > 0 || skuList.length > 0"><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation/stores-api#documentation/stores-api-information" target="_blank">show</a> : &show=<span ng-bind="storeResponse.list"></span><span ng-show="storeResponse.list.length > 0"><span ng-show="storeResponse.list.length > 0 &&  skuList.length > 0">,</span></span><span ng-show="skuList.length > 0" ng-bind="productOption.list"></span></p>

                <p ng-show="skuList.length > 0"><a href="https://developer.bestbuy.com/documentation/stores-api#documentation/stores-api-in-store-availability" class="breakdownLabel" target="_blank">skuList</a> : +products(sku%20in%20(<span ng-bind="skuList"></span>)</p>

                <p></p>

                <p><a class="breakdownLabel" href="https://remix.mashery.com/member/register" target="_blank">apiKey</a> : ?apiKey=<span ng-bind="apiKey"></span></p>

                <p ng-show="(pageSize !== 10) || (whichPage !== 1)"><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation#pagination-pagination" target="_blank">pagination</a> : <span ng-show="(pageSize !== 10)">pageSize=<span ng-bind="pageSize"></span></span><span ng-show="(whichPage !== 1)">&page=<span ng-bind="whichPage"></span></span></p>

                <p><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation#responseFormat-response-format" target="_blank">callback</a> : &callback=JSON_CALLBACK</p>

                <p><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation#responseFormat-response-format" target="_blank">responseFormat</a> : &format=json</p>


            </div>
        </div>
        <h4 class="container">Complete URL</h4>
        <div class="content-container" id="response-content">
            <p>#request:
                <button id="copy-button" class="copy-button" type="button" clip-copy="buildRemixQuery()" tooltip="copy" tooltip-placement="right" ng-click="callCopyEvent()">
                    <img src="assets/clipboard_white.png" width="20" height="20" alt="copy"/></button>
            </p>
            <h5><span id="remix-query" class="query-text" ng-bind="buildRemixQuery()"></span></h5>
            <div>
                <p>#response:
                    <button id="copy-results-button" class="copy-button" type="button" clip-copy="results | json" tooltip="copy" tooltip-placement="right">
                    <img src="assets/clipboard_white.png" width="20" height="20" alt="copy"/></button>
                </p>
                <textarea ng-class="{errorResult: errorResult}" class="query-result" ng-bind="results | json"></textarea>

            </div>
        </div>
    </div>
</div>
