<div id="smartLists-div" ng-controller="SmartListsCtrl">
    <div id="left-side-container" class="query-container">
        <div class="content-container" id="builder-content">
            <div class="query-information">
                <h3>Smart Lists API</h3>
                <div>
                    <p></p>
                </div>
                <h4><span class="fa-stack fa-3x numberIcon">
                    <i class="fa fa-circle fa-stack-2x icon-stack-base"></i>
                    <strong class="char-overlay fa-stack-1x">1</strong>
                    </span> Pick Your Endpoint</i>
</h4>
                <div class="row content-container endpointContainer">
                    <span>
                        <input class="endpoint-button" ng-class="{'selected': (endpoint.selected === 'activeAdventurer')}" type="button" id="activeAdventurerButton" ng-click="endpoint.selected = 'activeAdventurer'; activeAdventurer = !activeAdventurer;" ng-init="activeAdventurer = false"></input>
                    </span>
                    <span>
                        <input class="endpoint-button" ng-class="{'selected': (endpoint.selected === 'connectedHome')}" type="button" id="connectedHomeButton" ng-click="endpoint.selected = 'connectedHome'; connectedHome = !connectedHome;" ng-init="connectedHome = false"></input>
                    </span>
<!--                     <span>
                        <input class="endpoint-button" ng-class="{'selected': (endpoint.selected === ' ')}" type="button" id="  Button" ng-click="endpoint.selected = '  ';   = ! ;" ng-init="  = false"></input>
                    </span>   -->                                      
                </div>
                <br/>


                <div>
                    <button id="reset-query" class="query-button" ng-click="resetSmartListsQuery()">RESET
                        query
                    </button>

                    <button id="invoke-query" class="query-button" ng-click="invokeRecommendationsQuery()">RUN
                        query
                    </button>
                </div>
                <br/>
            </div>
        </div>
    </div>
    <div id="right-side-container" class="query-container">
        <h4 class="container urlBreakdown">URL Breakdown</h4>
        <div class="content-container"><label>Here is an anatomy of your request, showing all of the "pieces" that make up your complete URL:</label>
            <div id="exampleUrl" class="content-container">
                    <p><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation#advancedSearch-search" target="_blank">baseURL</a> : http://api.bestbuy.com/beta/products/<span ng-bind="endpoint.selected"><span></p>
                    <p ng-show="category.value"><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation/products-api#documentation/products-api-categorizations" target="_blank">categoryId</a> : (categoryPath.id=<span ng-bind="category.value"></span>)</p>
                    <p><a class="breakdownLabel" href="https://remix.mashery.com/member/register" target="_blank">apiKey</a> : ?apiKey=<span ng-bind="apiKey"></span><span ng-show="sortBy != 'none'"></p>
                    <p><a class="breakdownLabel" href="https://developer.bestbuy.com/documentation#responseFormat-response-format" target="_blank">callback</a> : &callback=JSON_CALLBACK</span></p>
                </div>
            </div>
        <h4 class="container">Complete URL</h4>
            <div class="content-container" id="response-content">
                <div>
                    <p>#request:
                        <button id="recommendations-copy-button" class="copy-button" type="button" clip-copy="buildSmartListsQuery()" tooltip="copy" tooltip-placement="right" ng-click="callCopyEvent()">
                            <img src="assets/clipboard_white.png" width="20" height="20" alt="copy"/>
                        </button>
                    </p>
                    <span class="query-text" id="smartLists-query" ng-bind="buildSmartListsQuery()"></span>
                </div>
                <div>
                    <p>#response:
                        <button id="copy-button" class="copy-button" type="button" clip-copy="results | json" tooltip="copy" tooltip-placement="right">
                    <img src="assets/clipboard_white.png" width="20" height="20" alt="copy"/></button></p>

                    <textarea ng-class="{errorResult: errorResult}" class="query-result" id="recommendations-query-result" ng-bind="results | json"></textarea>

                </div>
            </div>
    </div>
</div>